@nice-black: #000;
@light-black: @nice-black + #aaa;
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, arial;
    color: @light-black;
}
#main {
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto; 
    height: 100%;  
}


div.sisu input{
    color: @light-black;
    border-width: 1;
}


input {

	font-size: 1em;
	background-color: transparent;
	text-align: left;
	width: 80%;
	margin: 1em;
 	padding: 0.5em;	
}

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
  & + span {
    display: block;
  }

  & + span:before {
    content: '';
    display: inline-block;
    border-top-color:#aaa;
    width: 0.5em;
    height: 0.5em;
    vertical-align: -0.25em;
    border-radius: 5em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #aaa;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }

  &:checked + span:before {
    background: black;
    box-shadow: 0 0 0 0.15em #aaa;
  }

  &:focus + span:after {
    content: '\0020\2190';
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
  }


}

label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1em;

}


fieldset {
  font-size: 1em;
  width: 90%;
  border:transparent;
  border-bottom: 2px solid #bbb;
  border-left-color: transparent;
  border-right-color:transparent;
  margin: 1em;
  padding: 1em;

}


[type="checkbox"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;

  & + span {
    display: block;
  }

  & + span:before {
    content: '\f00c';
    font-family: FontAwesome, Roboto;
    font-size: 1em;
    color: #fff;
     // display: inline-block;
    border-top-color:#aaa;
    width: 10px;
    height: 10px;
    vertical-align: -0.25em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #aaa;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }

  &:checked + span:before {
    content: '\f00c';
    font-size: 1em;
      font-family: FontAwesome, Roboto;
      color: #aaa;
    

  }

  &:focus + span:after {
    content: '\f00c';
    font-family: FontAwesome, Roboto;
    color: #000;
    font-size: 1.5em;
    line-height: 1;
    // vertical-align: -0.125em;
  }
}

center{
  width: 90%;
  margin: 1em;
}
.myButton {
	width: auto;
	-moz-box-shadow:inset -50px 50px 50px 50px #fff;
	-webkit-box-shadow:inset -50px 50px 50px 50px #fff;
	box-shadow:inset -50px 50px 50px 50px #fff;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#2585fd;
	font-family:Roboto;
	font-size:1em;
	padding:0px 0px;
	text-decoration:none;
	border: 0;
	margin:0;

}

.myButton-left {
    float: left;
    }
.myButton-right {
   float: right;
   
}

.myButton-color{
	width: auto;
	color:#aaa;
   float: left ;
   
}
.myButton-star {

width: auto;
	-moz-box-shadow:inset -50px 50px 50px 50px #aaa;
	-webkit-box-shadow:inset -50px 50px 50px 50px #aaa;
	box-shadow:inset -50px 50px 50px 50px #aaa;
font-family: FontAwesome, Roboto, arial;

color:#fff;
float:right;
padding: 0.2em .4em;
margin: 0 0.6em 0 -1em;
}

summary{
	font-family: Roboto;
	font-weight: bold;
	font-size: 1.5em;
	color:#000;
   
}
.myButton-lisa {

width: auto;
     -moz-box-shadow:inset -50px 50px 50px 50px #2585fd;
  -webkit-box-shadow:inset -50px 50px 50px 50px #2585fd;
          box-shadow:inset -50px 50px 50px 50px #2585fd;
font-family: FontAwesome, Roboto, arial;

color:#fff;
padding: 0.2em .4em;
margin: 0 0.6em 0 -1em;
}



.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:absolute;
	top:1px;
  visibility: hidden;
}
.nimi{
  display: inline-block;
	font-family: Roboto;
	font-size: 1.2em;
	color:#000;
  padding-left:50px;

  ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

li{
  font-family: Roboto;
  font-size: 0.8em;
  color: #aaa;
}   
}






@activeColor: #27ae60; 
@darkenColor: darken(@activeColor, 20%);
@background: #3498db;

.slide {
  float: left;
  font: 2em FontAwesome, Roboto;
  font-weight: bold;
  color:#bbb;
  width: 80px;
  height: 60px;
  background: #ccc;
  position: relative;
  border-radius: 20px;
 

  &:before {
    content: '+';
    left:  16px;
    top: 16px;
    color: #fff;
    position: absolute;
    z-index: 0;
    font: 0.8em FontAwesome, Roboto;
    font-weight: bold;
  }

   &:after {
    content: '-';
    color: #aaa;
    position: absolute;
    right: 14px;
    top: 0px;
    z-index: 1;
    font: 1.6em FontAwesome, Roboto;

  }
  label {
    display: block;
    color: #aaa;
    position: absolute;
    font: 1.4 em Roboto;
    width: 40px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    
    z-index: 2;
    background: #fff;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
   
    border-radius: 40px;
    border-color: #000;
    transition: all 0.4s ease;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
}

}
.pildike {
  color:#aaa;
label {

    display: block;
    background-image: url("karu-03.png");
    background-size: 110%;
    background-position: center;
    position: absolute;
    width: 40px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    
    z-index: 2;
   border: 1px;
    border-radius: 40px;
     border-color: #000;
    transition: all 0.4s ease;

  }
    }
  .pildike2 {
  color:#aaa;
label {
  color:#aaa;
    display: block;
    background-image: url("lind-04.png");
    background-size: 110%;
    background-position: center;
    position: absolute;
    cursor: pointer;
    position: absolute;
    top: 0px;
    
    z-index: 2;
   border: 1px;
    border-radius: 40px;
     border-color: #000;
    transition: all 0.4s ease;

    }
  }

#sidebar {
    background: #bbb;
    float: right;
    width:100px;
    max-width: 350px;
    height: 100%;
    overflow: hidden;

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
li.profile{
   content: url("ikoon-05.png");
   width: 100px;
}
li:link, li:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bbb;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
}

li:hover, li:active {
    background-color: #ccc;
    border-color: #000;
}
      
a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bbb;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #ccc;
}
   
}

